{
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-console": 0,
        "no-debugger": 0
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "destructuring": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "templateStrings": true
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "camelcase": 0,
        "curly": 1,
        "no-alert": 0,
        "no-else-return": 1,
        "strict": [1, "global"],
        "brace-style": [1, "1tbs"],
        "comma-style": [1, "last"],
        "no-lonely-if": 1,
        "no-multi-spaces": [1, { "exceptions": { "VariableDeclarator": true } }],
        "no-mixed-requires": 1,
        "no-underscore-dangle": 0,
        "no-var": 1,
        "no-duplicate-case": 0,
        "no-func-assign": 0,
        "quotes": [1, "single", "avoid-escape"],
        "space-before-function-paren": [1, "never"],
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "object-curly-spacing": [1, "always"],
        "computed-property-spacing": [1, "always"],
        "spaced-comment": [1, "always"],
        "new-cap": 0
    },
    "globals": {
    }
}
